@media(min-width:600px) {
    .top_navbar {
        box-shadow: 10px 20px 70px gray !important;
        opacity: 0.9;
    }

    #top-actiond-section {
        display: flex !important;
        align-items: center !important;
    }
}


.user-list-section .active .user-list-arrow-icon{
transform: rotate(180deg);
}

.user-list-section .active  , .user-list-section .active .collapsible-header {
    background-color: rgb(240, 240, 240);
}
